body {
    margin-bottom: 0;
}

.section-nav {
    background: url(/img/american-best-friends-blond-hair-1574650.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 500px;
    color: #fff;
    position: relative;
    max-width: auto;
    /* height: 100%; */

}
.section-nav .donate{
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.clr {
    font-size: 17px;
    color: #e84a43;
}

.primary-overlay {
    background: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section-nav .lg {
    font-size: 35px;
    margin: 0 15px;
}

.section-nav .brand-logo {
    font-size: 25px;
}

.section-nav .donate {
    padding: 0 34px;
}

/* Showcase area */
.showcase-section h1 {
    font-weight: 500;
    font-size: 80px;
    /* margin-top: 250px; */
    /* bottom: 100%; */
}


/* News Section */

.news-section {
    padding: 60px 0;
}

.h1 {
    font: bold;
    font-weight: 700;
    font-size: 80px;
}

.news-section h5 {
    font-weight: 500
}


/* Quote Section */

.quote-section .quote {
    font-size: 45px;
    font-weight: 100;


}

.join {
    font-weight: 600;
    font-size: 75px;
}

.text1 {
    font-size: 40px;
    text-align: center;
    font-weight: 100
}

.hello {
    padding: 100px !important;
}


/* Section event */

.event-section{
    display: flex;
    flex-direction: column;
    padding: 60px 0 160px 0;
    flex-wrap: wrap;
}

sup{
    right: 49px;
    top: -50px;
    font-size: 20px;
    opacity: 0.5;
}
sub{
    font-size: 20px;
}

.event-section .inner-text{
    font-size: 40px;
    font-weight: 100;
    line-height: 100px;

}
small{
    font-size: 20px;
}

.event-section .newz{
    border-bottom: 1px solid;
    border-color: rgba(204,204,204,1);
    border-bottom-width: 1px;
}

.event-section h1:hover{
    color: #e84a43
}\
/* contact */

.section-contact{
    padding: 60px 30px;
}
.section-contact h5 {
    font-weight: 700;
}

.section-contact p {
    font-size: 21px;
}

.section-contact span {
    font-weight: bold
}

.lists {
    line-height: 50px;
    font-size: 18px;
}

.section-contact .pad {
    padding-bottom: 10px;
}

.section-contact .pad2 {
    padding-bottom: 30px;
}

.footer {
    padding: 20px;
}


#animate h1:hover{
    line-height: 2em;
    position: relative;
    animation: head;
    animation-duration: 2s;
    /* //stays the animations */
    animation-fill-mode: forwards;
}

@keyframes head {
    0% {left:-200px;}
    100%{left: 200px;}
}

#para{
    position: relative;
    animation-name: paragraph;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes paragraph {

    /* starts here */
    0%{left: -1000px;}

    /* Stops here */
    100%{left: 0px;}
}


/* some media queries */
@media(max-width:700px) {
    .showcase-section h1 {
        font-weight: 400;
        font-size: 40px;
        text-align: center
    }

    .section-nav {
        height: 100%;
        width: auto;
        min-height: 400px;
    }


    .quote-section .quote {
        font-size: 28px;
        font-weight: 100;


    }

    .join {
        font-size: 45px;
    }

    .text1 {
        font-size: 30px;
        text-align: center;
        font-weight: 100
    }

    .h1 {
        font-size: 35px;
    }
    .news-section h5{
        font-size: 14px;
        text-align: center
    }
    .event-section .inner-text{
        font-size: 25px;
    }

    .event-section .row{
        
    }

    .section-contact .down {
        padding-bottom: 90px;
    }

.section-nav .donate{
    width: 100%;
    text-align: center
}
}